<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- lazy-init : true로 하면 객체생성을 나중에 해줌 -->
	<bean id="ig" class="com.test07.IgTv" lazy-init="true"></bean>
	<bean id="samsong" class="com.test07.SamsongTv" lazy-init="false"></bean>

</beans>
